h1 {
    text-align: center;
    color: black;
    font-family: "Arial Narrow Bold";
    font-size: 100px;
    
}

.list_headers{
    color: black;
    font-size: 40px;

}

.bullets{
    color: black;
    font-size: 25px
}
.program{
    width: 150%;
}

div{
    background-color: blue;
    margin-left: 20%;
    margin-right: auto;
    width: 70%;
}
